.page-main{
    width: 100%;
    margin: 0 auto;
    background-color: #f5f5f5;
    /*padding-top: 22px;*/
    padding-bottom: 30px;
}
.page-main:after{
    content: '.';
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}
/*.phone-advertising{*/
    /*float: left;*/
    /*width: 234px;*/
    /*height: 614px;*/
/*}*/
.left-advertising{
    float: left;
    width: 234px;
    height: 614px;
}
.main-box{
    width: 992px;
    height: 614px;
    float: left;
    margin-bottom: 40px;
}
.little-box{
    float: left;
    margin-bottom: 14px;
    margin-left:14px;
    height: 300px;
    width: 234px;
    background-color: #fff;
    text-align: center;
}
.phone-image{
    width: 160px;
    height: 160px;
    padding-top: 30px;

}
.price{
    font-size: 14px;
    color: red;
    text-align: center;
}
.flag-new{
    background-color: green;
}
.main-box ul li a:hover{
    text-decoration: none;
}
.main-box ul li a{
    display: block;
}
.extra-config{
    padding-bottom: 30px;
}

.home-appliances{
    margin-bottom: 14px;
    width: 234px;
    height: 300px;
}
.flag-none{
    background-color: #ffffff;
}

.water{
    width: 234px;
    float: left;
    height: 93px;
    padding-top: 50px;
    position: relative;
}
.water .water-image{
    width: 80px;
    height: 80px;
    float: right;
    margin-right: 30px;
}

.little-box-none{
    width: 234px;
    height: 14px;
    background-color: #f5f5f5;
    float: left;
}

.water-image2{
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 50px;
    right: 20px;

}