.item{
    width: 630px;
    padding-top: 10px;
    border-bottom: 1px solid #dce7f4;
    overflow: hidden;
    font-size: 16px;
    position: relative;

}
.profile-photo{
    width: 64px;
    height: 64px;
    float: right;
    margin-bottom: 5px;
}
.digest a{
    color: #369;
    float: left;
    width: 500px;
}
.digest{
    overflow: hidden;
}
.digest a:hover{
    text-decoration: underline;
}
.little-btn-bar{
    width: 630px;
    padding-top: 6px;
    height: 22px;
    line-height: 22px;
    float: left;
}
.little-btn-bar a{
    width: 54px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    color: #99aecb;
}
.little-btn-bar span{
    margin-left: 30px;
    font-size: 4px;
    color: #99aecb;

}
.img-content{
    width: 500px;
    height: 300px;
    display: block;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.review{
    display: inline-block;

}
.review-box{
    padding: 12px 15px 0;
    border: 1px solid #cbdcee;
    width: 598px;
    background-color: #f6f6f6;
}
.pinglun-box{
    float: left;
    display: none;
}
.review-box-input{
    width: 100%;
    height: 28px;
    padding: 5px;
    text-align: center;

}

.review-input{
    width: 510px;
    height: 20px;
    padding:4px 2px 0;
    line-height: 18px;
}
.review-box-input-btn{
    width: 62px;
    height: 28px;
    color: #fff;
    background-color: #b9d6e6;
    float: right;
    display: inline-block;
    line-height: 28px;

}
.review-details-title{
    color: #b4b4b4;
    font-size: 12px;
}
.review-details ul li {
    width:598px ;
    padding: 8px 16px;
}
.review-close{
    width: 20px;
    height: 20px;
    color: #b4b4b4;
    display: inline-block;
    cursor: pointer;
    float: right;
}